version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5001:5001"
    depends_on:
      - mongodb
    env_file:
      - ./user-service/.env
    command: ["sh", "./start.sh"]

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5002:5002"
    depends_on:
      - mongodb
    env_file:
      - ./product-service/.env
    command: ["sh", "./start.sh"]

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5003:5003"
    depends_on:
      - mongodb
      - payment-service
      - product-service
    env_file:
      - ./order-service/.env
    command: ["sh", "./start.sh"]

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "5004:5004"
    depends_on:
      - mongodb
    env_file:
      - ./payment-service/.env
    command: ["sh", "./start.sh"]


volumes:
  mongo_data:
  